html {
  font-size: 16px;
}

body {
  font-size: inherit;
  font-family: 'Roboto', system-ui, sans-serif;
  color: #434455;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
}

a:hover {
  color: #404BBF;
}

button {
  color: #fff;
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

button:hover {
  background: #404BBF;
}