html {
  font-size: 16px;
}

body {
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: ;
  line-height: 1.07;
  letter-spacing: .02em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.11;
  letter-spacing: .02em;
  text-transform: capitalize;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .02em;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
  transition: background-color .25s ease-in;
}

a:hover {
  color: #404BBF;
}

button {
  font-weight: 500;
  color: #fff;
  background-color: #4D5AE5;
  cursor: pointer;
}

button:hover {
  background-color: #404BBF;
}

.logo {
  font-weight: 700;
  font-size: 1.125rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo__span {
  color: #2e2f42;
}