// Roboto font

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}

// Raleway font

@font-face {
    font-weight: 700;
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2');
}