:root {
  // base styles
  --rocket-body-font-size: 16px;
  --rocket-body-font-weight: 400;
  --rocket-body-line-height: 1.5rem;
  --rocket-font-primary: 'Roboto', system-ui, sans-serif;
  --rocket-font-secondary: 'Raleway', system-ui, sans-serif;

  // color styles
  --rocket-color-primary: #4D5AE5;
  --rocket-color-secondary: #404BBF;
  --rocket-color-cta: #4D5AE5;
  --rocket-color-cta-pressed: #404BBF;
  --rocket-color-focus: #4D5AE5;
  --rocket-color-active: #4d5ae5;
  --rocket-color-links: #4D5AE5;
  --rocket-color-success: #31D0AA;
  --rocket-color-logo-primary: #2E2F42;
  --rocket-color-logo-secondary: #4D5AE5;
  --rocket-color-heading: #2E2F42;
  --rocket-color-shadow: #2E2F42;
  --rocket-color-overlay: #2E2F42;
  --rocket-text-color: #434455;
  --rocket-text-color-light: #8E8F99;
  --rocket-body-background: #FFF;
  --rocket-modal-background: #FCFCFC;
  --rocket-modal-overlay: rgba(46, 47, 66, .4);
  --rocket-hero-image-background: rgba(46, 47, 66, .7);
  --rocket-light-mode-background: #F4F4FD;
  --rocket-socials-icon-fill: #F4F4FD;
  --rocket-accent-color: #E7E9FC;
  --helper-color-white: #FFF;
  --rocket-common-black: #2F2F37;
  --rocket-color-navy: #2e2f42;
}