@import './base';
@import './root';
@import './page';
// @import './fonts';
@import './navigation';


.logo {
  text-decoration: none;
  color: var(--rocket-color-logo-primary);
  font-family: var(--rocket-font-secondary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  span {
    color: var(--rocket-color-logo-secondary);
  }
}

.address {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--rocket-text-color);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 767px) {
      gap: .75rem;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 2.5rem;
    }
  }

  &__link {
    text-decoration: none;
    color: currentColor;
    transition: color .25s ease-out;

    &:hover {
      color: var(--rocket-color-cta);
    }
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  gap: 1rem;

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--rocket-color-cta);
    color: var(--rocket-socials-icon-fill);
    transition: background-color .25s ease-out;

    &:hover {
      background-color: var(--rocket-color-cta-pressed);
    }

    svg {
      fill: currentColor;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  height: 1.5rem;
  gap: .25rem;
  padding: 0.25rem;
  border: none;
  background: none;

  span {
    display: block;
    width: 100%;
    height: .2rem;
    background-color: var(--rocket-common-black);
    border-radius: .125rem
  }
}

.header {
  &__inner {
    @extend .container;

    display: flex;
    justify-content: space-between;
    gap: 4.75rem;

    @media (min-width: 1200px) {
      padding: 1.5rem 1rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mobile-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__mobile-close-button {
    @media (min-width: 321px) {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__socials {
    @media (min-width: 321px) {
      display: none;
    }
  }

  &__actions {
    @media (min-width: 321px) {
      display: none;
    }
  }
}

.heading {
  position: relative;
  padding: 4.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  background-color: var(--rocket-color-heading);
  color: var(--helper-color-white);

  @media (min-width: 768px) {
    padding: 7rem 0;
    gap: 2.25rem;
  }

  @media (min-width: 1440px) {
    padding: 11.75rem 0;
    gap: 3rem;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
  }

  &__title,
  &__actions {
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: currentColor;
  }
}